/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F3F3F3;
  }
  
  .header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    max-height: 40px;
  }
  
  .breadcrumbs {
    padding: 10px 20px;
    font-size: 14px;
  }
  .page {
    padding: 20px 80px;
  }

  .breadcrumbs a {
    text-decoration: none;
    color: #7E0394CC;
  }
  
  .checkout-container {
    display: flex;
    gap: 50px;
    /* border-top: 1px solid #ddd; */
  }
  
  .checkout-form {
    flex: 1;
    max-width: 600px;
  }
  
  .login-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .login-link a {
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f3f3f3;
  }
  .checkbox {
    display: inline-block;
  }
  
  .checkbox input {
    margin-right: 5px;
    width: auto;
  }
  
  .action-buttons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  
  .primary-button {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  .secondary-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    color: black;
  }
  
  .order-summary {
    flex: 1;
    max-width: 400px;
    /* background: #f9f9f9; */
    padding: 20px;
    border-left: 1px solid #ddd;
  }
  
  .order-summary h2 {
    margin-bottom: 20px;
  }
  
  .summary-item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* .summary-item img {
    max-width: 50px;
    max-height: 50px;
  } */
  
  .price {
    margin-left: auto;
  }
  
  .summary-details p {
    display: flex;
    justify-content: space-between;
  }
  
  hr {
    border: 0.5px solid #ddd;
    margin: 10px 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .checkout-container {
      flex-direction: column;
    }
  
    .order-summary {
      margin-top: 20px;
    }
  }

  @media (max-width:520px) {
    .page{
      padding: 20px 80px;
    }
  }
  