/* Showcase scetion */

#showcase-container {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    gap: 10px;
    flex-direction: row;
    padding: 200px 60px 0 60px;
}

#left-images {
    /* float: left; */
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
    width: 30%;
}

.flowergirl {
    position: relative;
    z-index: 1;
    width: 130px;
    height: 200px;

 
}

.blackman {
    position: absolute;
    z-index: 2;
    left: 32%;
    top: -150px;
    width: 160px;
    height: 250px;

}

.fingernails {
    position: absolute;
    z-index: 3;
    left: 65%;
    top: 45px;
    width:  170px;
    height: 250px;

}

#right-images {
    /* float: right; */
    /* position: absolute; */
    width: 30%;
    /* z-index: 1; */
    position: relative;
    margin-top: -150px;
    /* width: 30%; */
    margin-left: -150px;
    
}

.perfume {
    position: relative;
    z-index: 1;
    left: 5px;
    top: 40px; 
    width: 161px;
    height: 333px;

}

.face {
    position: absolute;
    z-index: 2;
    left: 200px;
    top: -15px;
    width: 164px;
    height: 334px;

}

.brush {
    position: absolute;
    z-index: 3;
    left: 130px;
    top: 280px; 
    width: 190px;
    height: 223px;
}


#main-text {
    margin-top: -100px;
    width: 30%;
    z-index: 4;
    margin-right: 250px;
    font-family: BrownLight;
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


/* #main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    z-index: 4;
    font-family: BrownLight;
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
} */

.shop-btn{
    /* border: 1px solid black; */
    height: 40px;
    width: 200px;
    margin-top: 15px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 0 15px 0 15px;
    font-size: 16px;

    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#main-text h2 {
    color: black;
    font-family: Luxia;
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.3em;
    text-align: center;
    margin-bottom: 40px;
    margin-right: -40px;
}
#main-text h1 {
    padding-top: 30px;
    font-family: BrownLight;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    width: 600px;
    margin-top: -30px;
    margin-left: -100px;
    /* height: 50px; */
    /* top: 182px; */
    /* left: -5552px; */

}